node_modules/
dist/
*.log
.env
.env.*
.envrc
!.env.example
data/
test-data/
test-workspace/
.temp/
*.swp
*.swo
*~
.DS_Store
apps/demo/fullstack-with-toc-min/
test-cli.ts
.env.test
.env.mmm2
release/

# Ignore all markdown files except README.md and files in doc/docs folders
*.md
!apps/**/*.md
!README.md
!README-zh.md
!doc/**/*.md
!docs/**/*.md
!apps/docs/**/*.md
!tests/**/*.md
tests/integration/provider.config.json
tests/integration/.store/
tests/tmp/
tests/.tmp/
*.log
*.txt
.kode/
.kode-apps/
!csharp/docs/**/*.md
!CLAUDE.md
!*/**/skills/**/*.md
!*/**/skills/**/requirements.txt

# nextjs
.next


# assistant
.assistant-store/
.users/


# 
bin/
obj/
.idea/


# appsettings.json
appsettings.Development.json