@import "tailwindcss";

@layer base {
  :root {
    --background: oklch(0.97 0 0);
    --foreground: oklch(0.205 0 0);
    --card: oklch(0.99 0 0);
    --card-foreground: oklch(0.205 0 0);
    --popover: oklch(0.99 0 0);
    --popover-foreground: oklch(0.205 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(1.0 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.95 0 0);
    --muted-foreground: oklch(0.5 0 0);
    --accent: oklch(0.93 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.5732 0.1901 25.5409);
    --destructive-foreground: oklch(1.0 0 0);
    --border: oklch(0.89 0 0);
    --input: oklch(0.95 0 0);
    --ring: oklch(0.205 0 0);
    --chart-1: oklch(0.4 0 0);
    --chart-2: oklch(0.5 0 0);
    --chart-3: oklch(0.6 0 0);
    --chart-4: oklch(0.7 0 0);
    --chart-5: oklch(0.8 0 0);
    --sidebar: oklch(0.97 0 0);
    --sidebar-foreground: oklch(0.205 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(1.0 0 0);
    --sidebar-accent: oklch(0.93 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.89 0 0);
    --sidebar-ring: oklch(0.205 0 0);
    --radius: 0.125rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: oklch(0.205 0 0 / 0.15);
    --shadow-2xs: 1px 1px 2px 0px oklch(0.205 0 0 / 0.07);
    --shadow-xs: 1px 1px 2px 0px oklch(0.205 0 0 / 0.07);
    --shadow-sm: 1px 1px 2px 0px oklch(0.205 0 0 / 0.15), 1px 1px 2px -1px oklch(0.205 0 0 / 0.15);
    --shadow: 1px 1px 2px 0px oklch(0.205 0 0 / 0.15), 1px 1px 2px -1px oklch(0.205 0 0 / 0.15);
    --shadow-md: 1px 1px 2px 0px oklch(0.205 0 0 / 0.15), 1px 2px 4px -1px oklch(0.205 0 0 / 0.15);
    --shadow-lg: 1px 1px 2px 0px oklch(0.205 0 0 / 0.15), 1px 4px 6px -1px oklch(0.205 0 0 / 0.15);
    --shadow-xl: 1px 1px 2px 0px oklch(0.205 0 0 / 0.15), 1px 8px 10px -1px oklch(0.205 0 0 / 0.15);
    --shadow-2xl: 1px 1px 2px 0px oklch(0.205 0 0 / 0.38);
  }

  .dark {
    --background: oklch(0.0 0 0);
    --foreground: oklch(0.922 0 0);
    --card: oklch(0.1 0 0);
    --card-foreground: oklch(0.922 0 0);
    --popover: oklch(0.1 0 0);
    --popover-foreground: oklch(0.922 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.0 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.922 0 0);
    --muted: oklch(0.2 0 0);
    --muted-foreground: oklch(0.6 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.922 0 0);
    --destructive: oklch(0.6168 0.2086 25.8088);
    --destructive-foreground: oklch(0.96 0 0);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.922 0 0);
    --chart-1: oklch(0.922 0 0);
    --chart-2: oklch(0.7 0 0);
    --chart-3: oklch(0.6 0 0);
    --chart-4: oklch(0.5 0 0);
    --chart-5: oklch(0.4 0 0);
    --sidebar: oklch(0.0 0 0);
    --sidebar-foreground: oklch(0.922 0 0);
    --sidebar-primary: oklch(0.922 0 0);
    --sidebar-primary-foreground: oklch(0.0 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.922 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.922 0 0);
    --radius: 0.125rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: oklch(0.922 0 0 / 0.2);
    --shadow-2xs: 1px 1px 2px 0px oklch(0.922 0 0 / 0.10);
    --shadow-xs: 1px 1px 2px 0px oklch(0.922 0 0 / 0.10);
    --shadow-sm: 1px 1px 2px 0px oklch(0.922 0 0 / 0.20), 1px 1px 2px -1px oklch(0.922 0 0 / 0.20);
    --shadow: 1px 1px 2px 0px oklch(0.922 0 0 / 0.20), 1px 1px 2px -1px oklch(0.922 0 0 / 0.20);
    --shadow-md: 1px 1px 2px 0px oklch(0.922 0 0 / 0.20), 1px 2px 4px -1px oklch(0.922 0 0 / 0.20);
    --shadow-lg: 1px 1px 2px 0px oklch(0.922 0 0 / 0.20), 1px 4px 6px -1px oklch(0.922 0 0 / 0.20);
    --shadow-xl: 1px 1px 2px 0px oklch(0.922 0 0 / 0.20), 1px 8px 10px -1px oklch(0.922 0 0 / 0.20);
    --shadow-2xl: 1px 1px 2px 0px oklch(0.922 0 0 / 0.50);
  }

  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}