@import './global.css';

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  width: 100%;
  height: 100%;
}

.el-container {
  height: 100%;
}

.el-header {
  padding: 0;
}

.el-aside {
  overflow-x: hidden;
}

.el-main {
  padding: 0;
  overflow: hidden;
}
